.navbar {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  padding: 10px 40px;
  background-color: #cfd8dc;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.create-btn {
  padding: 8px 20px;
  background-color: #1a237e;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.create-btn:hover {
  background-color: #283593;
}
