body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 420px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.5);
  color: white;
}
h1 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
}

p {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
}





.dashboard {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 40px;
}

.registration, .token-display {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 380px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.1);
}

.registration input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #0d1b2a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.now-serving h1 {
  font-size: 60px;
  color: #d00000;
}

.card-container {
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(16px); 
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.3); 
  border-radius: 20px; 
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1); 
  padding: 30px;
  color: #1a202c; 
}

