/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f1f3f6;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background: rgb(224, 171, 171);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #4f6882;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-links a:hover {
  color: #4a6cf7;
}

.account-btn {
  background: #4a6cf7;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
}

/* HOME PAGE */
.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.hero h1 {
  font-size: 40px;
  color: #2c3e50;
}

.hero p {
  margin: 10px 0;
  color: gray;
}

.hero-btn {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: #4a6cf7;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* CARD */
.card {
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 5px 20px rgba(73, 46, 46, 0.1);
  display: flex;
  flex-direction: column;
}

.card input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #f4f3f3;
}

.card button {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background: #2c3e50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}

.card button:hover {
  background: #4a6cf7;
}